/* class for header block */
header {
  position: sticky;
  top: 0;
  display: flex;
  padding: 0 10px;
  background: white;
  align-items: center;
  border-bottom: 1px solid #e4e4e4;
}
/* logo image in header */
.header-logo {
  padding-bottom: 5px;
  padding-top: 5px;
}
.header-logo img {
  width: 180px;
}
/* block for navigation items */
header nav {
  display: none;
  margin-left: 130px;
}
/* navigation links */
header nav a {
  text-decoration: none;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  letter-spacing: 0.035em;
  color: #000000;
  padding-top: 5px;
  padding-bottom: 5px;
  margin: 10px;
}
.account-icon {
  display: none;
  margin-left: auto;
  margin-right: 0;
}
.account-icon-img {
  width: 35px;
  height: 35px;
}
.shopping-cart-img {
  width: 36px;
  height: 36px;
}
/* shoping cart image in header */
.shopping-cart {
  display: none;
  max-height: 100%;
  max-width: 100%;
  margin-left: 60px;
  text-decoration: none;
}
.drawer-header-logo {
  margin-bottom: 5px;
  margin-left: 16px;
  display: flex;
}
.drawer-header-logo img {
  width: 140px;
}
.drawer-close-button {
  background: none;
  border: none;
  cursor: pointer;
  margin-right: 16px;
  margin-left: auto;
}
.drawer-close-button img {
  width: 17px;
  height: 17px;
  align-self: center;
}
.drawer-icon {
  width: 32px;
  margin-right: 30px;
}
.drawer-header-icon-button {
  display: block;
  background: none;
  border: none;
  cursor: pointer;
  margin-right: 0px;
  margin-left: auto;
}
.drawer-header-icon-img {
  width: 45px;
  height: 45px;
}
/* hover event for header nav link */
header nav a:hover {
  color: #ff641a;
  border-bottom: 3.5px solid #ff641a;
  transition: 0.1s;
}
/* media rule for screens wider than 500px */
@media only screen and (min-width: 500px) {
  header {
    padding: 0 40px;
  }
}
/* media rule for screens wider than 1050px */
@media only screen and (min-width: 1050px) {
  .drawer-header-icon-button {
    display: none;
  }
  header nav {
    display: block;
  }
  .shopping-cart,
  .account-icon {
    display: flex;
    cursor: pointer;
  }
}
