.account-wrapper {
  display: flex;
  margin: 20px 10px 20px 10px;
}
.account-side-bar nav {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid #e4e4e4;
  width: 300px;
  padding-top: 2px;
  padding-bottom: 12px;
}
.account-side-bar nav a {
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
  font-size: 17px;
  font-weight: 400;
  text-decoration: none;
  padding: 12px;
  color: gray;
}
.account-content {
  -moz-box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  margin-left: 15px;
  width: 100%;
}
.account-logout-button {
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
  font-size: 17px;
  font-weight: 400;
  text-decoration: none;
  padding: 12px;
  margin-top: 12px;
  color: gray;
  background-color: white;
  border: none;
  cursor: pointer;
}
.account-profile {
  padding: 14px;
}
.profile-heading {
  font-size: 28px;
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 700;
}
.profile-content {
  padding-top: 12px;
}
.profile-line {
  padding-top: 15px;
  padding-bottom: 15px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #e4e4e4;
}
.profile-line img {
  width: 20px;
  height: 20px;
}
.profile-line-info {
  margin-left: 20px;
  width: 100%;
}
.profile-line-info-item {
  display: flex;
  align-items: center;
}
.profile-line-name {
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  font-size: 18px;
  font-weight: 500;
}
.profile-line-value {
  margin-top: 10px;
  font-size: 18px;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  font-weight: 300;
}
.profile-change-button {
  background-color: white;
  cursor: pointer;
  height: fit-content;
  border: none;
}
.profile-change-button img {
  width: 20px;
  height: 20px;
}
