.account-wrapper {
  display: flex;
  margin: 20px 10px 20px 10px;
}
.account-side-bar nav {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid #e4e4e4;
  padding-top: 2px;
  padding-bottom: 12px;
}
.account-side-bar span {
  display: none;
}
.account-side-bar nav a {
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
  font-size: 17px;
  font-weight: 400;
  text-decoration: none;
  padding: 12px;
  color: gray;
}
.profile-nav-icon {
  width: 29px;
  height: 29px;
}
.profile-nav-item {
  display: flex;
  align-items: center;
}
.account-content {
  -moz-box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  margin-left: 10px;
  width: 100%;
}
.account-logout-button {
  display: flex;
  align-items: center;
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
  font-size: 17px;
  font-weight: 400;
  text-decoration: none;
  padding: 12px;
  margin-top: 12px;
  color: gray;
  background-color: white;
  border: none;
  cursor: pointer;
}
.account-profile,
.account-orders {
  padding: 14px;
}
.account-heading {
  font-size: 28px;
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 700;
}
.acc-order-heading {
  display: flex;
  margin-bottom: 14px;
  align-items: center;
}
.acc-order-heading-info {
  display: flex;
  flex-direction: column;
  align-items: start;
  width: 100%;
}
.acc-order-number-and-date {
  display: flex;
  align-items: center;
}
.acc-order-number {
  font-size: 18px;
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 600;
}
.acc-order-date {
  font-size: 15px;
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 500;
  margin-left: 15px;
}
.acc-order-status {
  font-size: 18px;
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 500;
}
.profile-content {
  padding-top: 12px;
}
.profile-line {
  padding-top: 15px;
  padding-bottom: 15px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #e4e4e4;
}
.profile-line img {
  width: 20px;
  height: 20px;
}
.profile-line-info {
  margin-left: 20px;
  width: 100%;
}
.profile-line-info-item {
  display: flex;
  align-items: center;
}
.profile-line-name {
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  font-size: 18px;
  font-weight: 500;
}
.profile-line-value {
  margin-top: 10px;
  font-size: 18px;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  font-weight: 300;
}
.profile-change-button {
  background-color: white;
  cursor: pointer;
  height: fit-content;
  border: none;
}
.profile-change-button img {
  width: 20px;
  height: 20px;
}
.acc-orders-content {
  padding-top: 15px;
}
.acc-order {
  padding-top: 15px;
  align-items: center;
  border-top: 1px solid #e4e4e4;
}
.acc-order-details {
  padding-bottom: 15px;
}
.acc-order-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: white;
  height: 100%;
  width: 100%;
}
.acc-order-content-underline {
  width: 100px;
  border-top: 1px solid #e4e4e4;
}
.acc-order-product-info {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  height: 100%;
}
.acc-order-product-item-content-img {
  height: 80px;
  min-width: 120px;
  max-width: 120px;
}
.acc-order-product-item-content-img img {
  width: 100%;
}
.acc-order-product-item-content-title {
  display: flex;
  flex-direction: column;
  margin-right: 0;
  margin-left: auto;
  text-align: end;
}
.acc-order-product-item-content-title-name {
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  letter-spacing: 0.035em;
  color: #000000;
  margin-bottom: 15px;
}
.acc-order-product-item-content-title-weight {
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  color: #a6a6a6;
}
.acc-order-product-money {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
}
.acc-order-product-quantity {
  text-align: center;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-size: 15px;
  font-weight: 500;
  color: #a6a6a6;
  margin-left: 0;
  margin-right: auto;
}
.acc-order-product-price {
  display: flex;
  text-align: right;
  width: 140px;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  color: black;
  justify-content: right;
  margin-right: 0;
}
.acc-order-product-price-currency {
  margin-left: 7px;
}
.acc-order-info {
  display: flex;
  flex-direction: column;
}
.acc-order-address {
  margin-right: 0;
  margin-left: auto;
}
.acc-order-recipient,
.acc-order-address {
  margin-top: 10px;
}
.acc-order-recipient-heading,
.acc-order-address-heading,
.acc-order-price-heading {
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: gray;
}
.acc-order-recipient-info,
.acc-order-address-info {
  margin-top: 5px;
}
.recipient-detail {
  padding-top: 1px;
  font-size: 16px;
}
.acc-order-price {
  text-align: left;
  margin-top: 10px;
}
.acc-order-price-info {
  justify-content: left;
  display: flex;
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  margin-top: 5px;
}
.acc-order-price-info-number {
  display: flex;
  width: 107px;
  justify-content: right;
}
.profile-form {
  width: 200px;
}
.acc-order-expand-arrow {
  width: 32px;
  height: 32px;
  margin-right: 0;
  margin-left: auto;
}
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #edeae9;
  margin: 15px 10px;
  padding-left: 0;
}
/* media rule for screens wider than 360px */
@media only screen and (min-width: 360px) {
  .profile-form {
    width: 250px;
  }
}
/* media rule for screens wider than 400px */
@media only screen and (min-width: 400px) {
  .profile-form {
    width: 300px;
  }
}
/* media rule for screens wider than 550px */
@media only screen and (min-width: 550px) {
  .acc-order-price {
    text-align: right;
    margin-top: 10px;
    margin-right: 0;
    margin-left: auto;
  }
  .acc-order-price-info {
    justify-content: right;
  }
  .acc-order-info {
    flex-direction: row;
  }
}
/* media rule for screens wider than 600px */
@media only screen and (min-width: 600px) {
  .acc-order-heading-info {
    flex-direction: row;
    align-items: center;
  }
  .acc-order-status {
    margin-left: auto;
    margin-right: 10px;
  }
}
/* media rule for screens wider than 650px */
@media only screen and (min-width: 650px) {
  .acc-order-content {
    flex-direction: row;
  }
  .acc-order-product-quantity {
    margin-right: 0;
    margin-left: auto;
  }
  .acc-order-product-item-content-title {
    margin-left: 20px;
    margin-right: 0;
    text-align: start;
  }
}
/* media rule for screens wider than 900px */
@media only screen and (min-width: 900px) {
  .account-side-bar nav {
    width: 230px;
  }
  .account-side-bar span {
    display: block;
  }
  .profile-nav-icon {
    margin-right: 13px;
  }
  .account-content {
    margin-left: 15px;
    width: 100%;
  }
}
/* media rule for screens wider than 1000px */
@media only screen and (min-width: 1000px) {
  .account-side-bar nav {
    width: 300px;
  }
}
